#benner {
  width: 1440px;
  margin: 0 auto;
  padding: 162px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}
#benner::before {
  content: "DESIGNER";
  position: absolute;
  color: #151515;
  display: inline-block;
  font-size: 250px;
  right: -15%;
  bottom: 0;
  font-weight: 600;
}
#benner > div {
  z-index: 1;
}
#benner h1 {
  font-size: 80px;
  font-weight: bold;
}
#benner p {
  margin-top: 27px;
  line-height: 27px;
}
#benner .home a:first-child::after {
  content: " > ";
  display: inline-block;
  margin: 15px;
}

/* designer */
#designer {
  width: 1440px;
  margin: 0 auto;
  padding: 250px 0;
  /* display: flex; */
}
#designer .abc {
  /* width: 784px; */
  margin: 0 auto;
}
#designer .abc::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #333333;
  margin: 50px 0;
}
#designer .abc ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 108px;
  flex-wrap: wrap;
}
.designers{
  width: 1440px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.designers li{
  position: relative;
}
.designers li p{
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  transition: 0.4s;
}

.designers li > div{
  width: 100%;
  height: 100%;
}
.designers li > .blacks::before{
  content: '';
  display: inline-block;
  background-color: #333333;
  opacity: 0.5;
  width: 100%;
  height: 0%;
  position: absolute;
  bottom: 0;
  transition:  0.4s;
}
.designers li:hover > .blacks::before{
  height: 10%;
}
.designers li:hover p{
  opacity: 1;
  bottom: 3%;
}