h2::before{
    font-size: 18px;
    letter-spacing: 4px;
    color: #E8cb32;
    display: block;
    margin-bottom: 15px;
}

.designer_slider h2::before{
    content: "DESIGNER";
}
.codi h2::before{
    content: "CODI MAP";
}
.magazine h2::before{
    content: "MAGAZINE";
}
.line_up h2::before{
    content: "LINE UP";
}

/* designer */
.designer_slider .inner{
display: flex;
}

/* pantone_color */
.pantone_color{
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name{
    font-size: 100px;
    transform: rotate(-90deg);
}
.years_color{
    font-size: 180px;
    margin-bottom: 25px;
}
.years_color .space{
    margin-right: 50px;
}
.addition{
    font-size: 48px;
}
.linear_back{
    position: relative;
    width: 810px;
    height: 1080px;
    background: linear-gradient(180deg, #BB2649 0%, rgba(187, 38, 73, 0) 100%);;
    display: block;
}
.yuna{
    position: absolute;
    width: 810px;
    height: 880px;
    display: block;
    background: url(../images/yuna.png)no-repeat center center/cover;
}